<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    <h1>Create a New Event</h1>
    <!-- Create Event Form -->
    
    <div class="form-container">
        <form action="{{ url_for('create_event') }}" method="POST">
            <label for="event_name">Event Name:</label>
            <input type="text" name="event_name" id="event_name" required><br><br>

            <label for="event_location">Event Location:</label>
            <input type="text" name="event_location" id="event_location" required><br><br>

            <label for="start_time">Start Time:</label>
            <input type="datetime-local" name="start_time" id="start_time" required><br><br>

            <label for="end_time">End Time:</label>
            <input type="datetime-local" name="end_time" id="end_time" required><br><br>

            <label for="available_tickets">Available Tickets:</label>
            <input type="number" name="available_tickets" id="available_tickets" min="1" required><br><br>

            <label for="ticket_price">Ticket Price:</label>
            <input type="number" name="ticket_price" id="ticket_price" min="0" step="0.01" required><br><br>

            <button type="submit">Create Event</button>
        </form>
    </div>
</body>
</html>
