<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Ticket Bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewr.css') }}">
</head>
<body>
    <h1>Ticket Bookings</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Table to display ticket bookings -->
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Event Name</th>
                <th>User ID</th>
                <th> Number of Tickets</th>
                <th>Booking Time</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.booking_id }}</td>
                <td>{{ booking.event_name }}</td>
                <td>{{ booking.user_id }}</td>
                <td>{{ booking.num_tickets }}</td>
                 <td>{{ booking.booking_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
