/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;    
    background-size: 100%,50%; /* Make the background image a bit smaller */    
    background-position: center; /* Position the background at the top-center */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(../images/two.jpg);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #dbd1d1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust width to make the container smaller */
    max-width: 400px; /* Decrease the max width */
    margin-right: 50%; /* Add margin to shift the container towards the left */
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.flash-messages {
    margin-bottom: 20px;
    color: white;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #f44336;
}

form {
    display: grid;
    grid-gap: 15px;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 16px;
    color: #333;
}

strong {
    font-weight: bold;
}
