{% extends "base.html" %}
{% block content %}
<h1>Welcome to the Event Management System</h1>
<center><h2>Plan. Manage. Execute. All in One Place.</h2></center>
<p>Your ultimate solution for seamless event planning and flawless execution.</p>

<h3>Simplify Event Management</h3>
<p>Whether it’s a corporate conference, wedding, or trade show, our Event Management System streamlines every step from planning to post-event evaluation.</p>
<img src="https://static.vecteezy.com/system/resources/previews/026/994/668/non_2x/event-management-wedding-planner-professional-organizer-manager-planning-event-conference-or-party-schedule-modern-flat-cartoon-style-illustration-on-white-background-vector.jpg">
<h3>Key Features Highlight</h3>
<ul>
  <img src="https://www.rapidoform.com/be/images/blog/inspiration/event-registration-software-tools.png">
  <li>Easy Registration & Ticketing</li>
  <li>Streamlined Venue Management</li>
  <li>Real-time Analytics & Reporting</li>
  <li>Attendee Engagement Tools</li>
</ul>
<style>
  h1{
    color:rgb(205, 31, 225);
    
  }
  h2{
    color:green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-size:xx-large;
    
  }
  h3{
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    
  }
  p{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  ul{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  img{
    max-width: 700px;
    margin: auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
{% endblock %}

